/* css Document */

/* 
Hexadecimal Color (16)
Grayscale: Black - 0123456789abcdef - White
 */
 
/*  ---sectional style--- */
/* 1em - 16px */

html{
font:100%/1.15 sans-serif
}

body{
font-family:Arial,Helvetica,sans-serif,serif;
background-color:#FFFFFF;
max-width:48em;
padding:1em;
margin-left:auto;
margin-right:auto;
}

h1{
letter-spacing:0.05em;
margin-bottom: .25em;
}

h3{
color:#4169E1;
}

dt{
color:#00008B;
}

dd{
margin-top: .5em;
margin-bottom: .5em;
}

.info{
background-color: #F0F8FF;
padding-top: .25em;
padding-bottom: .25em;
padding-left: .5em;
padding-right: .5em;
margin-top: 1em;
}

h6{
font-family:Arial,Helvetica,sans-serif,serif;
letter-spacing:0.05em;
margin-top: 0em;
margin-bottom: 0em;
}

.lorem-ipsum{
font-size:1.0625em;
line-height:1.5;
}

@media(min-width:48em) {
	body{
	font-size:115%;
	}
}